/* reset the css code */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    margin-top: 120px;
    justify-content: center;
}
.card{
    border:1px solid black;
    width:400px;
    padding:40px;
    text-align:center;
    border-radius: 5px;
    background-color:rgb(183, 198, 226);
}

.card h1{
    font-size:30px;
    padding-bottom: 30px;
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(3,100px);
    gap:10px;
justify-content: center;
}

.grid-item{
    padding: 4px 20px;
}

.grid-item_I{
    grid-column-start:2;
    grid-column-end: 4;
    padding: 4px 20px;
}

.grid-item_reset{
    padding:5px 30px;
    grid-column-start: 1;
    grid-column-end: 4;
}